/* Contact Section
--------------------------------*/
#contact {
    background: #e9e9e9;
    padding: 80px 0 40px 0;
  }
  
  /* #contact #google-map {
    height: 300px;
    margin-bottom: 20px;
  } */
  
  #contact .info {
    color: #333333;
  }
  
  #contact .info i {
    font-size: 32px;
    color: #56a5ff;
    float: left;
  }
  
  #contact .info p {
    padding: 0 0 10px 50px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
  }
  
  #contact .info .email p {
    padding-top: 5px;
  }
  
  #contact .form #sendmessage {
    color: #55a4fd;
    border: 1px solid #54a0f7;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
    display: block;
  }
  
  #contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
  
  #contact .form input, #contact .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  #contact .form button[type="submit"] {
    background: #459afa;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  
  #contact .form button[type="submit"]:hover {
    background: #459afa;
  }



 

 
 